* text=auto eol=lf
*.patch -text

# build directorys
/build.*
/.fakeroot.*
/.egg_cache
/.ccache-*
/.env
/.ant
/.parallel
/.cmake

# automatically downloaded source files
/sources/
/.stamps/

# prebuild target binarys to provide
/target/

# options
.rocknix

# private working directory
/.work/

# dedicated filesystem
/lost+found/

# symlinks...
/sources*
/.work

# Go cache
/.cache

# backup files
*.orig
*.rej

# vim swap files
*.swp

# crap
.DS_Store
.directory
.wget-hsts

# es generation files
.es_cache/

# system document cache
.doc_cache/

# tmp space
.tmp/

# release images
release/

# Linaro SDK
linaro/linux/
linaro/u-boot/

# Documentation for virtuals devices
documentation/PER_DEVICE_DOCUMENTATION/RK-ARMV8-A/
