# Keep the TX soundwire bus on  TOOD
# suspend of the controller kills headphones
ACTION=="add", KERNEL=="33b0000.soundwire", ATTR{power/control}="on"
