ACTION=="add", SUBSYSTEM=="net", ENV{INTERFACE}=="wlan0", RUN+="/usr/bin/set-mac wifi"
ACTION=="add", SUBSYSTEM=="bluetooth", KERNEL=="hci0", RUN+="/storage/set-mac bluetooth"
