/*
  This is a shared device tree between RG DS and RG DS Plus.
*/

/ {
	adc_keys_home: adc-keys-home {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <60>;

		button-home {
			label = "BACK";
			linux,code = <BTN_BACK>;
			press-threshold-microvolt = <41000>;
		};
	};

	adc_keys_play: adc-keys-play {
		compatible = "adc-keys";
		io-channel-names = "buttons";
		io-channels = <&saradc 2>;
		keyup-threshold-microvolt = <1300000>;
		poll-interval = <60>;

		button-play {
			label = "PLAY";
			linux,code = <KEY_PLAYPAUSE>;
			press-threshold-microvolt = <1750>;
		};
	};

	adc_mux: adc-mux {
		compatible = "io-channel-mux";
		channels = "left_x", "right_x", "left_y", "right_y";
		#io-channel-cells = <1>;
		io-channels = <&saradc 3>;
		io-channel-names = "parent";
		mux-controls = <&gpio_mux>;
		settle-time-us = <100>;
	};

	adc-joystick {
		compatible = "adc-joystick";
		#address-cells = <1>;
		io-channels = <&adc_mux 0>,
			      <&adc_mux 1>,
			      <&adc_mux 2>,
			      <&adc_mux 3>;
		pinctrl-0 = <&joy_mux_en>;
		pinctrl-names = "default";
		poll-interval = <60>;
		#size-cells = <0>;

		axis@0 {
			reg = <0>;
			abs-flat = <32>;
			abs-fuzz = <32>;
			abs-range = <940 15>;
			linux,code = <ABS_X>;
		};

		axis@1 {
			reg = <1>;
			abs-flat = <32>;
			abs-fuzz = <32>;
			abs-range = <15 940>;
			linux,code = <ABS_RY>;
		};

		axis@2 {
			reg = <2>;
			abs-flat = <32>;
			abs-fuzz = <32>;
			abs-range = <15 940>;
			linux,code = <ABS_Y>;
		};

		axis@3 {
			reg = <3>;
			abs-flat = <32>;
			abs-fuzz = <32>;
			abs-range = <15 940>;
			linux,code = <ABS_RX>;
		};
	};

	gpio_keys_control: gpio-keys-control {
		compatible = "gpio-keys";
		pinctrl-0 = <&gamepad_keys_l>;
		pinctrl-names = "default";

		button-a {
			gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
			label = "EAST";
			linux,code = <BTN_EAST>;
		};

		button-b {
			gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
			label = "SOUTH";
			linux,code = <BTN_SOUTH>;
		};

		button-down {
			gpios = <&gpio2 RK_PD5 GPIO_ACTIVE_LOW>;
			label = "DPAD-DOWN";
			linux,code = <BTN_DPAD_DOWN>;
		};

		button-l1 {
			gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_LOW>;
			label = "TL";
			linux,code = <BTN_TL>;
		};

		button-l2 {
			gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_LOW>;
			label = "TL2";
			linux,code = <BTN_TL2>;
		};

		button-left {
			gpios = <&gpio2 RK_PD7 GPIO_ACTIVE_LOW>;
			label = "DPAD-LEFT";
			linux,code = <BTN_DPAD_LEFT>;
		};

		button-menu {
			gpios = <&gpio2 RK_PD1 GPIO_ACTIVE_LOW>;
			label = "MODE";
			linux,code = <BTN_MODE>;
		};

		button-right {
			gpios = <&gpio2 RK_PD6 GPIO_ACTIVE_LOW>;
			label = "DPAD-RIGHT";
			linux,code = <BTN_DPAD_RIGHT>;
		};

		button-r1 {
			gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_LOW>;
			label = "T2";
			linux,code = <BTN_TR>;
		};

		button-r2 {
			gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
			label = "TR2";
			linux,code = <BTN_TR2>;
		};

		button-select {
			gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_LOW>;
			label = "SELECT";
			linux,code = <BTN_SELECT>;
		};

		button-start {
			gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_LOW>;
			label = "START";
			linux,code = <BTN_START>;
		};

		button-thumbl {
			gpios = <&gpio2 RK_PD2 GPIO_ACTIVE_LOW>;
			label = "THUMBL";
			linux,code = <BTN_THUMBL>;
		};

		button-thumbr {
			gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
			label = "THUMBR";
			linux,code = <BTN_THUMBR>;
		};

		button-up {
			gpios = <&gpio2 RK_PD4 GPIO_ACTIVE_LOW>;
			label = "DPAD-UP";
			linux,code = <BTN_DPAD_UP>;
		};

		button-x {
			gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;
			label = "NORTH";
			linux,code = <BTN_NORTH>;
		};

		button-y {
			gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
			label = "WEST";
			linux,code = <BTN_WEST>;
		};
	};

	gpio_mux: mux-controller {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		mux-gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_LOW>,
			    <&gpio3 RK_PC3 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&joy_mux_config>;
		pinctrl-names = "default";
	};

	gpio_keys_hall: gpio-keys-hall {
		compatible = "gpio-keys";
		pinctrl-0 = <&hall_int_l>;
		pinctrl-names = "default";

		lid-switch {
			gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_LOW>;
			label = "LID";
			linux,code = <SW_LID>;
			linux,input-type = <EV_SW>;
			wakeup-event-action = <EV_ACT_DEASSERTED>;
			wakeup-source;
		};
	};

	gpio_keys_volume: gpio-keys-volume {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-0 = <&vol_keys_l>;
		pinctrl-names = "default";

		vol-down-key {
			gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;
			label = "VOLUMEDOWN";
			linux,code = <KEY_VOLUMEDOWN>;
		};

		vol-up-key {
			gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_LOW>;
			label = "VOLUMEUP";
			linux,code = <KEY_VOLUMEUP>;
		};
	};

};

&pinctrl {
	gpio-keys {
		vol_keys_l: vol-keys_l {
			rockchip,pins =
				<3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		gamepad_keys_l: gamepad-keys-l {
			rockchip,pins =
				<2 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	hall-sensor {
		hall_int_l: hal-int-l {
			rockchip,pins =
				<0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	joy-mux {
		joy_mux_en: joy-mux-en {
			rockchip,pins =
				<3 RK_PC1 RK_FUNC_GPIO &pcfg_output_low>;
		};

		joy_mux_config: joy-mux-config {
			rockchip,pins =
				<3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>,
				<3 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
